body{
    background-image: linear-gradient(
        rgba(128, 128, 128, 0.705),
        rgba(128, 128, 128, 0.705)
      ),
      url("bg_1.jpg");
    background-size: cover;
    font-family:Proxima;
}
@font-face {
    font-family: Proxima;
    src: url(ProximaNova-Regular.woff);
    
  }
  h1{
      font-size:35px;
      background-color:rgba(255, 255, 255, 0.787);
      padding:15px;
      width:fit-content;
      border-radius:10px;
  }